In [1]:
import pandas as pd
import numpy as np

In [41]:
sheet1 = pd.read_csv('./sheet1.csv')

In [42]:
sheet1.describe()

,IQN,Occupation,Category,Roles,Experience,Gender,Age,Employer,Education
count,304.000000,304.000000,304.000000,304.000000,304.000000,304.000000,304.000000,304.000000,304.000000
mean,153.559211,3.167763,3.414474,2.825658,3.250000,1.680921,2.687500,2.733553,2.565789
std,88.766853,1.211120,1.642843,1.266163,1.085457,0.644984,1.058226,1.092153,1.269968
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,76.750000,3.000000,2.000000,2.000000,2.000000,1.000000,2.000000,2.000000,2.000000
50%,154.500000,4.000000,4.000000,3.000000,3.000000,2.000000,2.000000,2.000000,2.000000
75%,230.250000,4.000000,5.000000,4.000000,4.000000,2.000000,4.000000,4.000000,3.000000
max,306.000000,5.000000,5.000000,4.000000,9.000000,9.000000,9.000000,9.000000,9.000000

In [ ]:
sheet1.loc[sheet1['Roles']>4,'Roles']=4
sheet1.loc[sheet1['Experience']>4,'Experience']=4
sheet1.loc[sheet1['Gender']>2,'Gender']=2
sheet1.loc[sheet1['Age']>4,'Age']=2
sheet1.loc[sheet1['Employer']>4,'Employer']=2
sheet1.loc[sheet1['Education']>5,'Education']=2

In [44]:
sheet1.loc[sheet1['Occupation']==1,'Occupation']='Surgeon'
sheet1.loc[sheet1['Occupation']==2,'Occupation']='Assistant Surgeon'
sheet1.loc[sheet1['Occupation']==3,'Occupation']='Anaesthesist'
sheet1.loc[sheet1['Occupation']==4,'Occupation']='Nurse'
sheet1.loc[sheet1['Occupation']==5,'Occupation']='OR Technician'

In [45]:
sheet1.loc[sheet1['Category']==1,'Category']='Qualified'
sheet1.loc[sheet1['Category']==2,'Category']='Experienced'
sheet1.loc[sheet1['Category']==3,'Category']='Enrolled Nurse'
sheet1.loc[sheet1['Category']==4,'Category']='Nursing auxillary'
sheet1.loc[sheet1['Category']==5,'Category']='None'

In [46]:
sheet1.loc[sheet1['Roles']==1,'Roles']='Scrub Nurse'
sheet1.loc[sheet1['Roles']==2,'Roles']='Circulating Nurse'
sheet1.loc[sheet1['Roles']==3,'Roles']='Anaesthestic Nurse'
sheet1.loc[sheet1['Roles']==4,'Roles']='None'

In [47]:
sheet1.loc[sheet1['Experience']==1,'Experience']='<1 yrs'
sheet1.loc[sheet1['Experience']==2,'Experience']='1-5 yrs'
sheet1.loc[sheet1['Experience']==3,'Experience']='5-10 yrs'
sheet1.loc[sheet1['Experience']==4,'Experience']='>10 yrs'

In [48]:
sheet1.loc[sheet1['Gender']==1,'Gender']='Male'
sheet1.loc[sheet1['Gender']==2,'Gender']='Female'

In [49]:
sheet1.loc[sheet1['Age']==1,'Age']='20-29'
sheet1.loc[sheet1['Age']==2,'Age']='30-39'
sheet1.loc[sheet1['Age']==3,'Age']='40-49'
sheet1.loc[sheet1['Age']==4,'Age']='50+'

In [50]:
sheet1.loc[sheet1['Employer']==1,'Employer']='<1 yrs'
sheet1.loc[sheet1['Employer']==2,'Employer']='1-5 yrs'
sheet1.loc[sheet1['Employer']==3,'Employer']='5-10 yrs'
sheet1.loc[sheet1['Employer']==4,'Employer']='> 10 yrs'

In [51]:
sheet1.loc[sheet1['Education']==1,'Education']='Certificate'
sheet1.loc[sheet1['Education']==2,'Education']='Diploma'
sheet1.loc[sheet1['Education']==3,'Education']='Degree'
sheet1.loc[sheet1['Education']==4,'Education']='Masters Degree'
sheet1.loc[sheet1['Education']==5,'Education']='Doctorate Degree'

In [60]:
sheet1['Education'].value_counts()

Diploma             83
Degree              80
Certificate         71
Masters Degree      55
Doctorate Degree    13
9                    2
Name: Education, dtype: int64